<h2>Transclusión</h2>

<app-acordeon titulo="Curso Angular">
  <ol>
    <li>Introducción</li>
    <li>Data Binding</li>
    <li>Eventos</li>
    <li>...</li>
  </ol>
  <p class="footer">Duración: 20 horas</p>
</app-acordeon>

<app-acordeon titulo="Logos del frontend">
  <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="Logo de Angular" width="200">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="Logo de React" width="200">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/2367px-Vue.js_Logo_2.svg.png" alt="Logo de Vue" width="200">
</app-acordeon>