<ng-container *ngIf="!loggedIn; else btnLogout">
  <input type="text" placeholder="username" #usernameInput>
  <input type="text" placeholder="password" #passwordInput>
  <button type="button" (click)="login(usernameInput, passwordInput)">Login</button>
</ng-container>
<ng-template #btnLogout>
  <button (click)="getDatos()">Obtener los datos</button>
  <p>Bienvenid@ {{nombre}}</p>
  <button (click)="logout()">Logout</button>
</ng-template>

<ul>
  <li>
    <a routerLink="/">Inicio</a>
  </li>
  <li *ngFor="let level of levels">
    <a [routerLink]="['/level', level]">{{level}}</a>
  </li>
</ul>


<router-outlet></router-outlet>